body
{

  background-color:#022044;
}

html, body {
  overflow-x: hidden;
  zoom: 91%;
}
/* #d7e8e3 */
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  /* background-color:#d7e8e3 ; */
   background-color:#F2F2F2 ;

  color: black;
}

#pipeview{
  text-decoration:none;
  font-size: 20px;
  color: white;
}

#change{

  margin-top: 8px;
  margin-left: 9px;

}

#change1 {
  margin-top: 23px;
  margin-right: 10px;
}

#change1 a {
  font-size: 18px;
}

#change1 a:hover {
  background-color: #009999;
}

#change2 {
  margin-right: 20px;
}

#change4 {
  margin-top: 23px;
  margin-right: 10px;
  color: white;
}

#change4 a {
  font-size: 18px;
}

#change4 a:hover {
  background-color: none;
}

#rcorners1 {
 border-radius: 25px;
   background-color:#fff;
   position: relative;
  padding: 25px;
  margin-bottom: 30px
}

@media (min-width: 1805px) {
  .container-fluid{
    width: 1700px;
  }
}

_
#add{

position:absolute;
top:20px;
right:39px;
background-color:#022044;
border-color: #022044;
}
.dataTables_filter  {
  float: right !important;
  padding:none;

}

.dataTables_length {
  float: left !important;
  padding:none;
}

div.dataTables_filter,
div.dataTables_length {

}
.dataTables_info {
    padding-top: 8px;
}

.dataTables_paginate {

padding-top: 10px;
    text-align: center;

}
#nav {
  background-color: #022044;
  padding-left: 150px;

}
#nav2 {

  padding-right: 150px;
  font-size: 18px;
  padding-top: 10px;

}
#nav_link {
  margin-top: 23px;
  margin-right: 50px;
}

.disabled{
  cursor: not-allowed;
}
